body
{
    text-align:center;
    font-style:bold;
    font-size:50px;
    background-color:royalblue;
}

.blue-eyes .eye-color
{
    fill:blue
}

.sad .mouth
{
    transform:rotate(180deg) scale(0.5);
    transform-origin: 340px 390px;
}

@keyframes moveEyes
{
    20%{
        transform: translate(-18px, -20px)
    }

    40%
    {
        transform: translate(0px, 0px)
    }

    65%
    {
        transform: translate(18px, 0px)
    }
}

.move-around .inner-eye-group
{
    animation: moveEyes 10s infinite;
}

@keyframes leftWhiskers
{
    0%
    {
        transform: rotate(5deg);
    }

    60%
    {
        transform: rotate(-5deg);
    }

}

.move-around .left-whiskers
{
    animation: leftWhiskers 5s infinite;
    transform-origin: 325px 350px;
}

@keyframes RightWhiskers
{
    0%
    {
        transform: rotate(-5deg);
    }

    60%
    {
        transform: rotate(5deg);
    }

}

.move-around .right-whiskers
{
    animation: RightWhiskers 5s infinite;
    transform-origin: 325px 350px;
}

@keyframes Movee
{
    20%
    {
        transform: rotatex(10deg) rotateY(10deg)
    }

    40%
    {
        transform: rotatex(25deg) rotateY(10deg)
    }

    60%
    {
        transform: rotatex(-10deg) rotateY(-10deg)
    }

    80%
    {
        transform: rotatex(-10deg) rotateY(-16deg)
    }

}

.move-around
{
    animation: Movee 8s infinite;
}

.svg-container
{
    perspective: 1000px;
}